dist: trusty
language: node_js
node_js:
  - node
addons:
  sonarcloud:
    organization: "nickmanbear"
    token:
      secure: "Slgt0FEXkcmGFT2HdzzLS8otDaHso95hNTXZqbrzEW3+XlQhxjnO800JKjPX33CT4UARxpD9m2I0ZGlj6wD8wjeATWzKQ/pOXXsGGGFUuiHW26/aIdZDPYGZ7i9peNBKD+SgRxr/mckS+s2jpF1DUR366HtuPPBlgM+De0jzuzFG35OnSrL7tqPk2JreHZpLEgVJjVdLBCt6oKJg+Gq69JGGfvzNyDxRwKNPyRaa4x0pUwLI9TF6GW2haIEC5VtchoK7pqIIijK50jz9TW97rQPUOBuXMZJkMpm9H71pPXVfONU8CFMTLRnaitYP4V7T9MVlsksGwLQPQfSB+//A7kUSjC+TLIC8laTEX5RsAiau+8NeLPSyiawXMhzXTWD2OgwZR/sEMHeCQkzs2JCUfjypbVdh64Tm71dSNin4MaeBdENLId62IXjFYTVFJ/CI1mRC7GHVrb5wLaz1iGxOXCigOfbA71V3PtsDG0Ik36LKMQGqL6UwmJ4lbd0Lgq5H5UVDbxai0n6AkGoY2jbYw6nAYcVTitXPVFPlNpQmbAGRvvm2Zf6cpHqUeSh20sZcMHOcve5jAa0fhFPBRPFPVnVkeKM3XriYSEtrBdYd6sQKSdIW6WkOmjx0RurL10TDtzeWAIAuEMxfL8fgrCqGRQCROYSJhoMZcy6Qckq43gs="
script:
  - sonar-scanner
